<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>{{ 'SIDEBAR.Directory' | translate }} > {{ 'Product.Title' | translate }} > {{ 'Action.Detail'
                    | translate }}
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal align-middle">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Code'|translate}}</label>
                                        <div class="col-md-8">{{product?.code}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Name'|translate}}</label>
                                        <div class="col-md-8">{{product?.name}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Category'|translate}}</label>
                                        <div class="col-md-8">{{product?.category}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Price'|translate}}</label>
                                        <div class="col-md-8">{{product?.price}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Created'|translate}}</label>
                                        <div class="col-md-8">{{product?.created}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Creater'|translate}}</label>
                                        <div class="col-md-8">{{product?.creater}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Modified'|translate}}</label>
                                        <div class="col-md-8">{{product?.modified}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Product.Modifier'|translate}}</label>
                                        <div class="col-md-8">{{product?.modifier}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn default" (click)="goBack()">
                                    <i class="fa fa-undo" aria-hidden="true"></i>{{ 'Action.Back' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>